pre .comment {
  color: #727272;
}

pre .constant {
  color: #d08770;
}

pre .storage {
  color: #b48ead;
}

pre .string, pre .comment.docstring {
  color: #a3be8c;
}

pre .string.regexp, pre .support.tag.script, pre .support.tag.style {
  color: #eff1f5;
}

pre .keyword, pre .selector {
  color: #b48ead;
}

pre .inherited-class {
  font-style: italic;
}

pre .entity {
  color: #8fa1b3;
}

pre .support, *[data-language="c"] .function.call {
  color: #96b5b4;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
  color: #FF6400;
}
