.message-create-check {
  background: #FCFCFC;
  border: 2px dashed color(green-sea);
  padding: 20px;
  text-align: center;
}

.test-form {
  .save-test-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  textarea {
    min-height: 180px;
  }
}
