<div class="18 3--">

  <div class="message-create-check expandable 12 6--" style="min-height:160px"
    v-class="__expanded: expanded" v-if="!tests.length">
    <div class="expandable-trigger">
      <h1>Hey</h1>
      <p>Let check for something.</p>
      <button class="btn __M __green new-check-btn" v-on="click: expand">Create a Check</button>
    </div>
  </div>

  <ul class="tests">

    <!-- new test -->
    <li class="test new-check" v-if="testHelper.testToCreate" v-component="test" v-with="test: testHelper.testToCreate, isOpen: 'y'"></li>

    <!-- saved tests -->
    <li class="test saved-check" v-repeat="test: tests | orderBy 'id' -1" v-component="test" v-transition></li>

  </ul>
</div>

<form class="expandable-content form test-form hide" v-on="submit: submit">
  <h1>Test Form</h1>
  <button class="btn __M __green __faded __square __pull-right save-test-btn" v-on="click: expand">Save Check</button>

  <div class="editor" v-editor>
    <textarea v-model="code"></textarea>
    <pre><code data-language="javascript" v-colorize="code"></code></pre>
  </div>
</form>
