<div class="12 ++6">

  <ul class="tests">

    <!-- new test -->
    <li class="test __new-test" v-if="testHelper.testToCreate" v-component="test" v-with="test: testHelper.testToCreate, isOpen: 'y'"></li>

    <!-- saved tests -->
    <li class="test __saved-test" v-repeat="test: tests | orderBy 'id' -1" v-component="test" v-transition></li>

    <!-- no result -->
    <li class="test __no-result _|_" v-if="!testHelper.testToCreate && !tests.length">
      <em>Nothing to show.</em>
      <button class="btn __S __green __new-test-btn" v-if="user.uid" v-on="click: createTest">Create a new Test</button>
    </li>

  </ul>
</div>
