.header {
  margin-bottom: 32px !important;
  padding: 8px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.12);
  border-bottom: 1px solid color(clouds);

  button, .btn {
    @extend .__S;
    @extend .__green;
  }

  .settings {
    color: #a7adba;
    font-size: 28px;
    line-height: 16px;
    vertical-align: text-bottom;

    &:hover {
      color: #2980B9;
    }
  }
}

.header_title {
  margin: 0;
  font-size: 22px;
  line-height: 28px;
}

.header_gravatar {
  span {
    line-height: 28px;
    margin-right: 8px;
  }

  img {
    border-radius: 50%;
    height: 28px;
    vertical-align: bottom;
  }
}

.header_menu {
  position: absolute;
  right: 0;
  top: 45px;
  margin: 0;
  padding: 8px 0;
  border-radius: 3px;
  background: #333;
  box-shadow: 0 0 5px rgba(0,0,0,.12);
  z-index: 999;

  opacity: 0;
  max-height: 0;
  transition: all .6s;

  &.open {
    opacity: 1;
    max-height: 1000px;
  }

  li {
    &.divider {
      box-shadow: 0 1px 1px #666;
      height: 1px;
      padding: 0;
    }
  }

  a {
    color: #fff;
    display: block;
    padding: 6px 24px;

    &:hover {
      color: color(peter-river);
    }
  }
}
