.overlay.__settings {
  background: rgba(225, 225, 225, 0.6);

  .modal {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
    background: #fff;
    border: 1px solid #DDD;
    flex-direction: column;
    display: flex;

    .modal_content {
      background: #FFF;
      overflow-y: scroll;
      flex: 1;
      height: auto;
      position: relative;
    }

    .modal_footer {
      padding: 12px;
      border: 1px solid #EBEEE2;
    }
  }
}

.settings_table {

  > li {
    @extend .clearfix;
    padding: 12px;
    border-bottom: 1px solid color(clouds);

    &:last-child {
      border-bottom: none;
    }

    .__left, &.__left {
      float: left;
    }

    .__right, &.__right {
      float: right;
      text-align: right;
      min-width: 60%;

      input {
        padding: 4px;
      }

      p {
        margin-bottom: 0;
      }

      [disabled] {
        text-align: right;
      }
    }
  }
}
