<article class="modal modal_settings" v-class="open: isOpen">
  <header>
    <h2 class="modal_title">Settings</h2>
  </header>
  <article class="modal_content">
    <ul class="settings_table list-unstyled form">
      <li>
        <label class="__left">Email</label>
        <div class="__right">
          <input type="email"
            v-model="user.email"
            v-on="change: updateUser"
            v-attr="disabled: (user.provider == 'password')">
        </div>
      </li>
      <li class="settings_password" v-if="user.provider == 'password'">
        <label class="__left">Password</label>
        <div class="__right">
          <span ng-if="passwordSuccess" class="text __success">{{ passwordSuccess }}</span>
          <button class="btn __grey" v-on="click:changePassword" test="change-password-toggle">Change Password</button>
        </div>
      </li>
      <li>
        <label class="__left">Authentification Type</label>
        <div class="__right">
          {{ user.provider }}
        </div>
      </li>
      <li class="_|" v-if="user.provider == 'password'">
        <button class="btn text __danger" test="delete-user" v-on="click: deleteUser">Delete Account</button>
      </li>
    </ul>
  </article>
  <footer class="modal_footer">
    <button class="btn __danger __M">Logout</button>
    <button class="btn __M __pull-right" v-on="click: close">Close</button>
  </footer>
</article>
