.btn {
  @extend .__default;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  transition: all 0.3s;
  white-space: nowrap;
  box-shadow: 0 0 0 0 rgba(39,41,43,.15)inset;
  color: #fff;
  margin: 0 .25em 0 0;
  padding: .60em 1.5em;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  padding: 9px 22px;

  &:focus {
    outline: 0;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.3;
  }

  i {
    opacity: .8;
    margin: 0 .4em 0 -.2em;
  }

  &.__small {
    font-size: 14px;
    padding: .4em .8em;
  }

  // ========================================================================
  // Colors
  // ========================================================================

  &.__default {
    background: #fff;
    color: #008cdd;

    &:hover {
      color: #008cdd;
      background: #fafafa;
    }
    &:active {
      color: #008cdd;
      background: #fafafa;
    }
  }

  &.__basic {
    background: transparent;
    color: rgba(0,0,0,.6);
    box-shadow: 0 0 0 1px rgba(39,41,43,.15)inset;

    &:hover {
      color: rgba(0,0,0,.8);
      background: #fafafa;
    }
    &:active {
      color: rgba(0,0,0,.8);
      background: #f8f8f8;
      box-shadow: 0 0 0 1px transparent inset,0 1px 4px 0 rgba(39,41,43,.15)inset;
    }
  }

  &.__primary {
    background: #3b83c0;
    color: #fff;

    &:hover { background: #458ac6; }
    &:active { background: #3370a5; }
  }

  &.__danger {
    background: #d95c5c;
    color: #fff;

    &:hover { background: #dc6868; }
    &:active { background: #d23f3f; }
  }


  // ========================================================================
  // Misc.
  // ========================================================================

  &.__loading {
    &::before {
      content: '\e805';
      font-family: "fontello";
      animation: spin 2s infinite linear;
      margin-right: 8px;
    }
  }

  &.__pull-right {
    float: right;
    margin-right: 0 !important;
  }

  &.__full {
    width: 100%;
    box-sizing: border-box;
  }
}
