button, .btn {
  @extend .__default;
  @extend .__S;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  vertical-align: middle;
  white-space: nowrap;

  &:focus {
    outline: 0;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.3;
  }

  // ========================================================================
  // Colors
  // ========================================================================

  @mixin btn-color($background, $border: #d9d9d9, $color: #333) {
    background: #fff;
    border: 1px solid #d9d9d9;
    color: #333;

    &:hover {
      color: $color;
      background: $background;
      border-color: $border;
    }
  }

  &.__default { @include btn-color(#fafafa, #d9d9d9); }
  &.__info    { @include btn-color(color(peter-river)); }
  &.__danger  { @include btn-color(color(alizarin)); }
  &.__success { @include btn-color(#95D7A6, #73C984, #fff); }


  // ========================================================================
  // Sizes
  // ========================================================================

  &.__S {
    line-height: 12px;
    font-size: 12px;
    padding: 6px 12px;
  }

  &.__M {
    line-height: 16px;
    font-size: 16px;
    padding: 8px 16px;
  }

  &.__L {
    line-height: 24px;
    font-size: 24px;
    padding: 10px 20px;
  }

  // ========================================================================
  // Misc.
  // ========================================================================

  &.__empty {
    background: none;
    border: 2px solid;

    &:hover {
      background: none;
    }
  }

  &.__primary {
    color: #fff;
    border-color: #186FC0;
    background: #2789E4;
  }

  &.__block {
    box-sizing: border-box;
    display: block;
    width: 100%;
  }

  &.__pull-right {
    float: right;
  }

  &.__square {
    border-radius: 0;
  }

  &.__static {
    cursor: default;
  }

  &.__link {
    background: none;
    border: none;
  }
}
