.list-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

code {
  background: rgba(0,0,0,.1);
  padding: 2px;
  border-radius: 2px;
}

%clearfix, .clearfix {
  &:before, &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.no-margin {
  margin: 0;
}

.relative {
  position: relative;
}

.round {
  border-radius: 50%;
}

@each $name, $color in $colors {
  .#{"color-" + $name} { color: $color; }
  .#{"background-" + $name} { background: $color; }
}

.dotter {
  position: relative;
  &::before {
    content: '';
    display: inline-block;
    animation: dotter .8s ease infinite;
    position: absolute;
    right: 0;
    height: 20px;
  }
}
