.modal_auth {

  .modal_content {

    form {
      padding: 20px;

      .form-btn {
        margin-top: 12px;
        display: inline-block;
      }

      .form-label {
        display: inline-block;
        margin-top: 16px;
        margin-left: 8px;
      }

      .reset-pass {
        max-height: none;
        margin: -32px 0 0 0;
        display: block;
        position: absolute;
        right: 30px;
        width: 20px;
        height: 20px;
        overflow: hidden;
        border-radius: 50%;
        text-indent: -999px;

        b {
          color: #FFF;
          background: color(silver);
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          text-align: center;
          text-indent: 0;
          line-height: 18px;
          font-size: 16px;
        }
      }
    }
  }

  .modal_footer {
    text-align: center;
    padding: 0 68px;

    .modal_subtitle {
      padding: 8px 0 12px 0;
      margin: 0;
      border-top: 1px solid #e6e6e6;
    }
  }

  .modal_slider {
    @extend %clearfix;
    height: 175px;
    transition: height 0.3s;

    &.__top {
      height: 50px;
    }

    > * {
      width: 100%;
      position: absolute;
      box-sizing: border-box;

      transition: all ease-out 0.3s, opacity ease-in 0.4s;
      left: 0;
      opacity: 1;

      &.slide-left {
        left: -100%;
        opacity: 0;
      }

      &.slide-right {
        left: 100%;
        opacity: 0;
      }
    }
  }

  .social {
    width: 50px;
    height: 44px;
    padding: 0;
    margin: 0 4px;
    color: transparent;

    transform: translate(0, 0);
    transition: all .2s ease;

    &:active {
      transform: translate(0, 3px);
    }

    &.__twitter {
      box-shadow: 0px 6px 0px #2695BC;
      background: #2CA9E1 url('/img/social/twitter.png') no-repeat center center;
      &:active {
        box-shadow: 0px 2px 0px #2695BC;
      }
    }

    &.__facebook {
      box-shadow: 0px 6px 0px #293F63;
      background: #3B5997 url('/img/social/facebook.png') no-repeat center center;
      &:active {
        box-shadow: 0px 2px 0px #293F63;
      }
    }

    &.__google {
      box-shadow: 0px 6px 0px #B1331F;
      background: #E04A32 url('/img/social/google.png') no-repeat center center;
      &:active {
        box-shadow: 0px 2px 0px #E04A32;
      }
    }

    &.__github {
      box-shadow: 0px 6px 0px #141412;
      background: #353631 url('/img/social/github.png') no-repeat center center;
      &:active {
        box-shadow: 0px 2px 0px #141412;
      }
    }
  }
}
