CHECKIT_CHECK_INTERVAL=60000
CHECKIT_CHECK_TIMEOUT=10000
CHECKIT_CHECK_SLEEP=0
CHECKIT_MAIL_LIMIT=20
CHECKIT_MAIL_SENDER=contact@check-it.io
CHECKIT_SENDGRID_API_KEY=1234
CHECKIT_FIREBASE_URL=https://<DEV_URL>.firebaseio.com
CHECKIT_FIREBASE_SECRET=<SECRET>
