CHECKIT_CHECK_INTERVAL=20000
CHECKIT_CHECK_TIMEOUT=2000
CHECKIT_CHECK_SLEEP=0
CHECKIT_MAIL_LIMIT=10
CHECKIT_SENDGRID_API_KEY=1234
CHECKIT_FIREBASE_URL=https://<DEV_URL>.firebaseio.com
CHECKIT_FIREBASE_SECRET=<SECRET>
