.overlay.__settings {
  background: rgba(13,37,69,.175);

  .modal {
    background: #fff;
    flex-direction: column;
    display: flex;
    box-shadow: 0 5px 40px rgba(6, 21, 44, 0.3);

    @include desktop {
      width: 300px;
      margin-left: -150px;
    }

    .modal_header {
      background: #ECF0F1;
    }

    .modal_content {
      background: #FFF;
      padding: 20px;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      flex: 1;
      height: auto;
      position: relative;
    }

    .modal_footer {
      padding: 12px;
      background: #ECF0F1;
      border-top: 1px solid #ddd;
    }
  }

  .btn-logout {
    margin-top: auto;
  }

  .switch i {
    vertical-align: text-top;
    float: right;
  }
}
