.notifications {
  position: fixed;
  bottom: 30px;
  right: 30px;

  // http://tympanus.net/Development/NotificationStyles/index.html
  .notification {
    transform: translate(-100%, -100);
    padding: 22px;
    position: relative;
    margin-top: 12px;
    line-height: 1.4;
    z-index: 1000;
    pointer-events: none;
    color: rgba(250,251,255,0.95);
    border-radius: 5px;
    font-size: 90%;
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    pointer-events: auto;

    &.__success {
      background: #67C58F;
    }

    &.__info {
      background: #5699BC;
    }

    &.__warning {
      background: #D0BD9E;
    }

    a {
      color: inherit;
      opacity: 0.7;
      font-weight: 700;

      &:hover, &:focus {
        opacity: 1;
      }
    }

    p {
      margin: 0;
    }

    .close {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 4px;
      top: 4px;
      overflow: hidden;
      text-indent: 100%;
      cursor: pointer;
      backface-visibility: hidden;

      &:hover, &:focus {
        outline: none;
      }

      &::before, &::after {
        content: '';
        position: absolute;
        width: 3px;
        height: 60%;
        top: 50%;
        left: 50%;
        background: #6e6e6e;
      }

      &:hover::before,
      &:hover::after {
        background: #fff;
      }

      &::before {
        transform: translate(-50%,-50%) rotate(45deg);
      }

      &::after {
        transform: translate(-50%,-50%) rotate(-45deg);
      }
    }
  }
}


[class^="ns-effect-"].notification.__hide,
[class*=" ns-effect-"].notification.__hide {
	animation-direction: reverse;
}

.__scale {
	background: #67c58f;
	box-shadow: 0 25px 10px -15px rgba(0,0,0,0.05);
}

.__scale a {
	color: #1f8a4c;
}

.__scale a:hover,
.__scale a:focus {
	color: #fff;
}

.__scale .close::before,
.__scale .close::after {
	background: #1f8a4c;
}

.__scale .close:hover::before,
.__scale .close:hover::after {
	background: #fff;
}

.__scale.__show,
.__scale.__hide {
	animation-name: animScale;
	animation-duration: 0.25s;
}

@keyframes animScale {
	0% {
    opacity: 0;
    transform: translate3d(0,40px,0) scale3d(0.1,0.6,1);
  }
	100% {
    opacity: 1;
    transform: translate3d(0,0,0) scale3d(1,1,1);
  }
}

@media screen and (max-width: 25em) {
	.notification {
		top: 10px;
		left: 10px;
		right: 10px;
		max-width: none;
	}
}
