<div class="test_top">
  <input v-model="test.name" onfocus="select()">
  <div class="test_actions">
    <div v-if="!isOpen">
      <button class="btn __S __blue __toggle-btn" v-on="click: toggle">Edit</button>
      <button class="btn __S __black __run-btn">Run</button>
    </div>
    <div v-if="isOpen">
      <button class="btn __S __red __remove-btn" v-on="click: remove" v-if="test.id" title="Remove me">X</button>
      <button class="btn __S __white __cancel-btn" v-on="click: cancel">cancel</button>
      <button class="btn __S __green __save-btn" v-on="click: save">Save</button>
    </div>
  </div>
</div>
<div class="test_bottom" v-show="isOpen">
  <textarea v-model="test.code"></textarea>
  <pre>{{ test.pass }}</pre>
  <pre>{{ test.result }}</pre>
  <pre>{{ test.output }}</pre>
</div>
