<main class="page">
  <div class="auth __login" v-show="showLogin">
    <p class="notif" v-show="message">{{ message }}</p>
    <h4 class="title">Sign In using</h4>
    <div class="buttons">
      <button class="btn social __twitter" v-on:click="login('twitter')">Twitter</button>
      <button class="btn social __facebook" v-on:click="login('facebook')">Facebook</button>
      <button class="btn social __google" v-on:click="login('google')">GPlus</button>
      <button class="btn social __github" v-on:click="login('github')">Github</button>
    </div>
  </div>
  <div class="auth __config" v-else>
    <h4 class="title">One last step</h4>
    <div class="form">
      <div class="form-spacer">
        <label class="switch">
          Load sample data (recommended)
          <input type="checkbox" v-model="loadSampleData">
          <i></i>
        </label>
      </div>
      <div class="form-spacer">
        <label class="switch">
          Enable email notifications
          <input type="checkbox" v-model="user.notificationEnabled">
          <i></i>
        </label>
      </div>
      <div class="form-spacer" v-show="user.notificationEnabled">
        <input type="email" placeholder="Email" class="form-control __full" v-model="user.notificationEmail">
      </div>
      <div class="form-spacer">
        <button class="btn __primary __full" v-on:click="config">Ready</button>
      </div>
    </div>
  </div>
</main>
