.editor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  height: 0; /* Avoid second scroll bar in Chrome! */
  visibility: hidden;
  z-index: 400;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &.__show {
    height: 100%;
    pointer-events: auto;
    visibility: visible;
  }

  ::selection {
    // not working properly for webkit
    // background: #515B65;
  }

  .editor-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    color: #ddd;
    padding: 20px 30px;
    opacity: 0;
    user-select: none;
    transition: opacity 0.3s;
    z-index: 1;

    &:hover {
      color: #7b7b7b;
    }

    &.__show {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .editor-window {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    .editor-textarea {
      width: 100%;
      height: 100%;
      line-height: 17px;
      min-height: 180px;
      resize: none;
      box-sizing: border-box;
      font-family: 'monaco-invisible';
      font-size: 13px;
      background: #2B313B;
      color: #FFF;
      padding: 10px;
      border: 0;
      border-radius: 2px 2px 0 0;
    }

    .editor-pre {
      font-family: Monaco, courier, monospace;
      background: transparent;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      overflow: hidden;
      pointer-events: none;
      text-align: left;
      position: absolute;
      top: 0;
      left: 0;
      word-wrap: break-word;
      margin: 0px;
      padding: 10px;
      color: #fff;
      font-size: 13px;
      margin-bottom: 20px;

      .editor-code {
        padding: 0;
        margin: 0;
        background: none;
        height: 100%;
      }
    }
  }

  .editor-message {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    color: #1C1F26;
    border-radius: 0 2px 0 0;
    border-left: 4px solid #1C1F26;
    border-right: 4px solid #1C1F26;
    transition: transform .2s ease;
    transform: translateY(calc(100% - 26px));

    a {
      color: #1C1F26;
      padding: 4px 20px 4px 4px;
      display: inline-block;
    }

    pre {
      padding: 6px;
      padding-top: 10px;
      margin: 0;
      max-height: 40vh;
      overflow: scroll;
    }

    &.__expand {
      transform: translateY(0);
    }

    &.__pass {
      a, pre {
        background: color(emerald);
      }
    }

    &.__fail {
      a, pre {
        background: color(alizarin);
      }
    }

    &.__pending {
      a, pre {
        background: #FEE798;
      }

      .icon-pending::before {
        vertical-align: text-bottom;
        color: #1C1F26;
      }

      .dotter {
        position: relative;
        &::before {
          content: '';
          display: inline-block;
          animation: dotter .8s ease infinite;
          position: absolute;
          right: 0;
          background: #FEE798;
          height: 20px;

          @keyframes dotter {
            from { width: 12px; }
            to { width: 0px; }
          }
        }
      }
    }
  }

  .editor-bar {
    background: #1C1F26;
    padding: 4px;
    margin: 0;
    z-index: 1;
    display: inline-flex;
    flex-direction: row;
    margin-top: -1px; // FF

    input {
      border: none;
      background: #2B313B;
      color: #F0F0F0;
      padding: 7px;
      font-size: 16px;
      text-shadow: 0 0 2px #000;
      width: 100%;
    }

    button {
      border-radius: 0;
      border: none;
      margin-left: 4px;
      padding: 4px 32px;
      width: 120px;
      color: #8FB4B4;
      background: #363E46;

      &:hover {
        color: #363E46;
        background: #8FB4B4;
      }
    }
  }
}


.items {
  margin-left: -10px;
  margin-right: -10px;

  .icon {
    &-pass {
      @extend .icon-ok;
    }
    &-fail {
      @extend .icon-attention-alt;
    }
    &-pending {
      @extend .icon-spin1;
      &::before {
        @extend .animate-spin;
      }
    }
  }

  .item {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    color: #34495E;
    height: 150px;
    padding: 20px;
    text-align: center;
    width: calc(33% - 10px);
    margin: 0 0 10px 10px;

    @include tablet {
      width: calc(50% - 15px);
    }

    @include mobile {
      width: calc(100% - 20px);
    }

    &.__new {
      margin-left: 33.333%;
      background: #FCFCFC;
      border: 2px dashed color(green-sea);
    }

    &.__saved {
      background: #fff;
    }

    hr {
      border: none;
      height: 1px;
      width: 40%;
      margin: 1em auto;
      position: relative;
      background: rgba(0, 0, 0, 0.1);
    }

    [class^=icon-]::before {
      padding: 3px;
      border-radius: 50%;
      font-size: 14px;
      border: 1px solid;
    }

    .icon {
      &-pass::before {
        background-color: rgba(color(emerald), 0.05);
        border-color: color(emerald);
        color: color(emerald);
      }
      &-pending::before {
        background-color: rgba(color(concrete), 0.05);
        border-color: color(concrete);
        color: color(concrete);
      }
      &-fail::before {
        background-color: rgba(color(alizarin), 0.05);
        border-color: color(alizarin);
        color: color(alizarin);
      }
    }
  }
}

.check-something {
  text-align: center;
  padding-bottom: 4px;
  padding-top: 32px;

  a {
    display: inline-block;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    background: #ffffff;
    color: #3986BB;
    font-size: 16px;
    margin-bottom: 8px;
    padding: 6px 16px 6px 12px;
  }

  i {
    font-size: 12px;
  }
}

.placeholder {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  background: #fff;
  //background: rgba(125, 0, 0, .5);
  transform-origin: 0 0;
  transition: transform 0.5s, opacity 0.2s;
  transition-timing-function: cubic-bezier(0.165,0.84,0.44,1);
  opacity: 0;

  &.__trans-in {
    opacity: 1;
  }

  &.__trans-out {
    opacity: 1;
  }
}
