<section class="home wrap">

  <form class="editor" v-if="test">

    <a class="editor-close" aria-label="close" v-on="click: hideEditor">
      <i class="icon-cancel"></i>
    </a>

    <div class="editor-window" v-editor>
      <textarea class="editor-textarea" v-model="test.code" tabindex="2" test="test-code"></textarea>
      <pre class="editor-pre"><code class="editor-code" data-language="javascript" v-colorize="test.code"></code></pre>

      <div class="editor-message __{{ test.status }} __expand" v-if="test.status" v-el="editorMessage">
        <a v-on="click: this.$$.editorMessage.classList.toggle('__expand')">
          <i class="icon-{{ test.status }}"></i>
          <span v-if="test.status != 'pending'"> {{ test.status }}</span>
          <span v-if="test.status == 'pending'" class="dotter"> running ...</span>
        </a>
        <pre v-if="test.output">{{ test.output }}</pre>
        <pre v-if="test.error">{{ test.error }}</pre>
      </div>
    </div>

    <div class="editor-bar">
      <input v-model="newName" tabindex="1" test="test-name">
      <button type="button" class="btn __delete icon-trash" v-on="click: deleteTest()" v-if="test.id" test="delete-button"></button>
      <button type="button" class="btn" v-on="click: saveTest(false)" v-if="test.id" test="save-button">Save</button>
      <button type="button" class="btn" v-on="click: saveTest(false)" v-if="!test.id" test="test-button">Test</button>
    </div>

  </form>

  <div class="items">
    <a class="item __saved" v-repeat="test: tests" v-on="click: loadEditor($event, test)">
      <h1 class="item__title">{{ test.name }}</h1>
      <hr>
      <p>
        <i class="icon-{{ test.status}}"></i> ~ 2min ago
      </p>
    </a>

    <p class="_|_" v-if="!tests.length && testsLoaded">Empty</p>
  </div>

  <center v-if="!testsLoaded">
    <p><i class="icon-spin1 animate-spin"></i> loading</p>
  </center>
</section>

<footer class="check-something">
  <a class="btn __primary" v-on="click: loadEditor($event)">
    <i class="icon-plus"></i>
    check something
  </a>
</footer>
