<header class="header page _|_">
  <div class="header_col">
    <a class="header_help" href="https://github.com/julesbou/checkit-help/blob/master/README.md"
      target="_blank" v-if="authUser.uid">Help</a>
    <a class="header_help" href="https://github.com/julesbou/checkit-help/blob/master/EXAMPLES.md"
      target="_blank" v-if="authUser.uid">Examples</a>
  </div>
  <h1 class="header_col header_title">
    <a class="__active" href="/">Check & Notify</a>
  </h1>
    <a class="header_col header_settings" title="Settings" v-on:click="openSettingsModal" v-if="authUser.uid">
      <i class="icon-cog"></i>
    </a>
</header>

<component :is="component"></component>
<component is="settings"  v-ref:settingsModal></component>
