<article class="modal" v-class="open: isOpen">
  <header class="modal_header">
    <h2 class="modal_title">Settings</h2>
    <a class="logout-user" title="Logout" v-on="click: logout"><i class="icon-logout"></i></a>
  </header>
  <article class="modal_content">
    <pre style="display:none">UID {{ user.uid }}</pre>
    <ul class="settings_table list-unstyled">
      <li v-if="user.uid">
        <label class="__left">UID</label>
        <div class="__right">{{ user.uid }}</div>
      </li>
      <li v-if="user.email">
        <label class="__left">Email</label>
        <div class="__right">{{ user.email }}</div>
      </li>
      <li>
        <label class="__left">Authentification Type</label>
        <div class="__right">{{ user.provider }}</div>
      </li>
      <li class="settings_password" v-if="user.provider == 'password'">
        <label class="__left">Password</label>
        <div class="__right">
          <span v-if="passwordSuccess" class="text __success" check="password-success">{{ passwordSuccess }}</span>
          <button class="btn __grey" v-on="click:changePassword" check="change-password">Change Password</button>
        </div>
      </li>
      <li class="_|" v-if="user.provider == 'password'">
        <button class="btn text __danger delete-user" check="delete-user" v-on="click: deleteUser">Delete Account</button>
      </li>
    </ul>
  </article>
</article>
