<div class="overlay __settings">
  <article class="modal" class="{{ isOpen ? 'open': '' }}">
    <header class="modal_header">
      <h2 class="modal_title">Settings</h2>
    </header>
    <article class="modal_content form">
      <div class="form-spacer">
        <i class="icon-loader" v-show="loaderNotificationEnabled"></i>
        <label class="switch">
          Email Notifications
          <input type="checkbox" v-model="user.notificationEnabled" v-on:change="updateNotificationEnabled">
          <i></i>
        </label>
      </div>
      <div class="form-spacer">
        <input type="text" class="form-control __full" placeholder="Email" autocorrect="false"
          v-show="user.notificationEnabled"
          v-model="user.notificationEmail"
          v-on:keyup="updateNotificationEmail | debounce 600">
        <i class="icon-loader" v-show="loaderNotificationEmail"></i>
      </div>
      <div class="sticky">
        <a class="btn __basic btn-logout" title="Logout" v-on:click="logout">Logout <i class="icon-logout"></i></a>
      </div>
    </article>
  </article>
</div>
