.auth {
  position: relative;
  border-radius: 2px;
  background: #fff;
  margin: 100px auto 0;
  padding: 20px 20px 0;
  overflow: hidden;
  width: 300px;

  .title {
    margin: 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: rgba(0,0,0,.85);
    user-select: none;
    position: relative;
    height: auto;
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;

    &::before, &::after {
      position: absolute;
      content: '';
      z-index: 3;
      width: 50%;
      top: 50%;
      height: 0;
      border-top: 1px solid rgba(0,0,0,.1);
      border-bottom: 1px solid rgba(255,255,255,.2);
    }

    &::before {
      margin-left: calc(-50% - 1em);
    }

    &::after {
      margin-left: 1em;
    }
  }
}

.auth.__login {
  .notif {
    background: lighten(color(sun-flower), 40%);
    padding: 14px;
  }

  .buttons {
    overflow: hidden;
    text-align: center;
  }

  .notif, .buttons {
    margin: 0;
    margin-bottom: 20px;
  }

  .social {
    border: 0;
    width: 50px;
    height: 44px;
    padding: 0;
    margin: 0 4px;
    color: transparent;

    transform: translate(0, 0);
    transition: all .2s ease;

    &:active {
      transform: translate(0, 3px);
    }

    &.__twitter {
      box-shadow: 0px 6px 0px #2695BC;
      background: #2CA9E1 url('/img/social/twitter.png') no-repeat center center;
      &:active {
        box-shadow: 0px 2px 0px #2695BC;
      }
    }

    &.__facebook {
      box-shadow: 0px 6px 0px #293F63;
      background: #3B5997 url('/img/social/facebook.png') no-repeat center center;
      &:active {
        box-shadow: 0px 2px 0px #293F63;
      }
    }

    &.__google {
      box-shadow: 0px 6px 0px #B1331F;
      background: #E04A32 url('/img/social/google.png') no-repeat center center;
      &:active {
        box-shadow: 0px 2px 0px #E04A32;
      }
    }

    &.__github {
      box-shadow: 0px 6px 0px #141412;
      background: #353631 url('/img/social/github.png') no-repeat center center;
      &:active {
        box-shadow: 0px 2px 0px #141412;
      }
    }
  }
}

.auth.__config {
  .switch i {
    float: right;
  }
}
