main {
  .items, .check-something {
    opacity: 1;
    transition: opacity .4s;
  }

  &.__editor {
    .items, .check-something {
      opacity: 0;
    }
  }
}

.no-scroll {
  overflow: hidden;
}

.editor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  max-height: 800px;
  height: 0; /* Avoid second scroll bar in Chrome! */
  visibility: hidden;
  z-index: 400;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 25px rgba(0, 0, 0, .4);

  &.__show {
    height: 100%;
    pointer-events: auto;
    visibility: visible;
  }

  ::selection {
    // not working properly for webkit
    // background: #515B65;
  }

  .editor-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    color: #ddd;
    padding: 10px;
    opacity: 0;
    user-select: none;
    transition: opacity 0.3s;
    z-index: 1;

    &:hover {
      color: #7b7b7b;
    }

    &.__show {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .editor-window {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    .editor-textarea {
      width: 100%;
      height: 100%;
      line-height: 17px;
      min-height: 180px;
      resize: none;
      box-sizing: border-box;
      font-family: 'monaco-invisible';
      font-size: 13px;
      background: #2B313B;
      color: #FFF;
      padding: 10px;
      border: 4px solid #1C1F26;
      border-bottom: 0;
      border-radius: 2px 2px 0 0;
    }

    .editor-pre {
      font-family: Monaco, courier, monospace;
      background: transparent;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      overflow: hidden;
      pointer-events: none;
      text-align: left;
      position: absolute;
      border: 4px solid transparent;
      top: 0;
      left: 0;
      word-wrap: break-word;
      margin: 0px;
      padding: 10px;
      color: #fff;
      font-size: 13px;
      margin-bottom: 20px;

      .editor-code {
        padding: 10px;
        margin: 0;
        background: none;
        height: 100%;
        float: left;
        line-height: 17px;
        position: absolute;
        top: 0;
        left: 0;
        white-space: pre-wrap;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }

  .editor-message {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    color: #1C1F26;
    border-radius: 0 2px 0 0;
    border-left: 4px solid #1C1F26;
    border-right: 4px solid #1C1F26;
    transition: transform .2s ease;
    transform: translateY(calc(100% - 26px));

    a {
      color: #1C1F26;
      padding: 4px 20px 4px 4px;
      display: inline-block;
    }

    pre {
      padding: 6px;
      padding-top: 10px;
      margin: 0;
      max-height: 40vh;
      overflow: scroll;
    }

    &.__expand {
      transform: translateY(0);

      &.__expand-status {
        .expand-title.__history {
          box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, .5) inset;
        }

        .expand-content.__status {
          display: block;
        }
      }

      &.__expand-history {
        .expand-title.__status {
          box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, .5) inset;
        }

        .expand-content.__history {
          display: block;
        }

        pre {
          white-space: pre-line;
        }
      }
    }

    .expand-title {
      &.__history {
        float: right;
      }

      &.__pending {
        margin-right: 1px;
        cursor: default;
        box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, .5) inset;
        margin-left: -2px;
      }
    }

    .expand-content {
      display: none;
    }

    .__ok {
      ,a, pre, .dotter:before {
        background: color(emerald);
      }
    }

    .__error {
      ,a, pre, .dotter:before {
        background: color(alizarin);
      }
    }

    .__notification, .__history {
      ,a, pre, .dotter:before {
        background: color(sun-flower);
      }
    }

    .__pending {
      ,a, pre, .dotter:before {
        background: #FEE798;
      }

      .icon-pending::before {
        vertical-align: text-bottom;
        color: #1C1F26;
      }
    }
  }

  .editor-bar {
    background: #1C1F26;
    padding: 4px;
    margin: 0;
    z-index: 1;
    display: inline-flex;
    flex-direction: row;
    margin-top: -1px; // FF

    input {
      border: none;
      background: #2B313B;
      color: #F0F0F0;
      padding: 7px;
      font-size: 16px;
      text-shadow: 0 0 2px #000;
      width: 100%;
    }

    button {
      border-radius: 0;
      border: none;
      margin: 0;
      margin-left: 4px;
      padding: 4px 32px;
      width: 200px;
      color: #8FB4B4;
      background: #363E46;

      &:hover {
        color: #363E46;
        background: #8FB4B4;
        &::before {
          color: #363E46;
        }
      }

      &.__delete {
        padding: 0;
        width: 80px;

        &:hover {
          color: #8FB4B4;
          background: #E74C3C;
        }
      }
    }

    [data-tooltip] {
      &::after {
        margin-left: -80px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 2px;
        z-index: 1000;
        padding: 8px;
        width: auto;
        background-color: #1C1F26;
        color: #fff;
        content: attr(data-tooltip);
        font-size: 14px;
        line-height: 1.2;
        pointer-events: none;
        transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
        transform: translateY(42px);
        opacity: 0;
      }

      &:hover:after {
        opacity: 1;
        transform: translateY(-42px);
      }
    }
  }
}


.home {
  margin-left: -10px;
  margin-right: -10px;

  .icon {
    &-ok {
      @extend .icon-ok;
    }
    &-error {
      @extend .icon-attention-alt;
    }
    &-notification {
      @extend .icon-bell;
    }
    &-pending {
      @extend .icon-spin1;
      &::before {
        @extend .animate-spin;
      }
    }
  }

  .item {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    color: #34495E;
    height: 150px;
    padding: 20px;
    text-align: center;
    width: calc(33% - 10px);
    margin: 0 0 10px 10px;

    &:hover {
      box-shadow: 0 0 12px rgba(0,0,0,.1);
    }

    @include tablet {
      width: calc(50% - 15px);
    }

    @include mobile {
      width: calc(100% - 20px);
    }

    &.__new {
      margin-left: 33.333%;
      background: #FCFCFC;
      border: 2px dashed color(green-sea);
    }

    &.__saved {
      background: #fff;
    }

    hr {
      border: none;
      height: 1px;
      width: 40%;
      margin: 1em auto;
      position: relative;
      background: rgba(0, 0, 0, 0.1);
    }

    [class^=icon-]::before {
      padding: 3px;
      border-radius: 50%;
      font-size: 14px;
      border: 1px solid;
    }

    .item__title {
      height: 55px;
      display: block;
      display: -webkit-box;
      max-width: 400px;
      margin: 0 auto;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .icon {
      &-ok::before {
        background-color: rgba(color(emerald), 0.05);
        border-color: color(emerald);
        color: color(emerald);
      }
      &-notification::before {
        background-color: rgba(color(sun-flower), 0.05);
        border-color: color(sun-flower);
        color: color(sun-flower);
      }
      &-pending::before {
        background-color: rgba(color(concrete), 0.05);
        border-color: color(concrete);
        color: color(concrete);
      }
      &-error::before {
        background-color: rgba(color(alizarin), 0.05);
        border-color: color(alizarin);
        color: color(alizarin);
      }
    }
  }
}

.check-something {
  z-index: 999;
  text-align: center;
  padding-bottom: 4px;
  padding-top: 60px;

  .btn {
    border-radius: 20px;
    margin: 0;
    margin-bottom: 8px;
    line-height: 0.8;

    &:hover {
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    }
  }

  i {
    font-size: 12px;
  }
}

.placeholder {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 800px;
  z-index: 100;
  top: 0;
  left: 0;
  background: #fff;
  //background: rgba(125, 0, 0, .5);
  transform-origin: 0 0;
  transition: transform 0.5s, opacity 0.2s;
  transition-timing-function: cubic-bezier(0.165,0.84,0.44,1);
  opacity: 0;

  &.__trans-in {
    opacity: 1;
  }

  &.__trans-out {
    opacity: 1;
  }
}

@keyframes dotter {
  from { width: 12px; }
  to { width: 0px; }
}
