body {
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: color(wet-asphalt);
  background: color(clouds);

  height: 100%;
  display: flex;
  flex-direction: column;

  @include tablet {
    //height: auto;
  }
}

.page {
  @extend .clearfix;
  width: 940px;
  margin: 0 auto;
  box-sizing: border-box;

  @include tablet {
    width: 100%;
    padding: 0 20px;
  }
}

a {
  color: color(belize-hole);
}

.header {
  user-select: none;
  margin-bottom: 32px !important;
  padding: 8px;
  padding-bottom: 12px;
  position: relative;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.12);
  border-bottom: 1px solid color(clouds);

  @media (min-width: 960px) {
    padding-left: 10px !important;
    padding-right: 10px !important;
    box-sizing: initial !important;
  }

  button, .btn {
    @extend .__S;
    @extend .__green;
  }
}

.header_title {
  margin: 0;
  display: inline-block;
  font-size: 22px;
}

.header_help {
  color: #a7adba;
  float: left;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin-left: 10px;
}

.header_settings {
  color: #a7adba;
  font-size: 28px;
  line-height: 26px;
  position: absolute;
  right: 10px;

  &:hover {
    color: #2980B9;
  }
}

main {
  position: relative;
  height: 100%;
}
