.overlay.__settings {

  .modal {
    background: #fff;
    box-shadow: 0 0 95px 5px rgba(0,0,0,0.6);
    flex-direction: column;
    display: flex;

    .modal_header {
      background: #ECF0F1;
    }

    .modal_content {
      background: #FFF;
      overflow-y: scroll;
      flex: 1;
      height: auto;
      position: relative;
    }

    .modal_footer {
      padding: 12px;
      background: #ECF0F1;
      border-top: 1px solid #ddd;
    }
  }
}

.logout-user {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 28px;
  color: #a7adba;

  &:hover {
    color: #2980B9;
  }
}

.settings_table {

  .delete-user {
    background: #EA6064;
    color: #fff;
    border-color: #f93338;

    &:hover {
    background: #fa6569;
    }
  }


  > li {
    @extend .clearfix;
    padding: 0 12px;
    height: 42px;
    border-bottom: 1px solid color(clouds);

    &:last-child {
      border-bottom: none;
    }

    .__left, &.__left {
      float: left;
      line-height: 42px;
    }

    .__right, &.__right {
      float: right;
      line-height: 42px;
      text-align: right;
      min-width: 60%;

      input {
        width: 80%;
        padding: 4px;
        border: 1px solid #ECF0F1;
        font-size: 14px;
        text-align: right;
        color: #34495E;
      }

      .switch i {
        vertical-align: text-top;
      }

      .btn {
        margin-right: 0;
      }

      p {
        margin-bottom: 0;
      }

      [disabled] {
        text-align: right;
      }
    }
  }
}
